html
  head
    title="Gram - Dashboard"
    link(rel='stylesheet' href='/assets/css/style.css')/
  body
    .container
      h1#admin-title Gram - Dashboard
      #admin-nav
        h3#user-name= "Welcome, " + user + " | Last Seen in: "+ lastLoggedIn
        a(href="/admin/logout" id="logOutBtn") Logout
      #content
        include partials/postCard.pug